@media screen and (max-width: 480px) {
    .logo{
	 display:none;
   	 }
	.navigation{
		display: flex;
		justify-content: center;
	}
	.portrait{
	 	display: block;
	}
	.container-contact{
		
	}
	.liam{
	height: 300px;
	}	
	.gustav{
	height: 300px;
	}
	.martin{
	height: 300px;
	}

	.offers{
		height: 1170px;
		background-color: #fff;
		color: #333;

	}

	.offers h1{

	}

	.service{
		margin: 0 0.5em 1em 0.5em;
		border: 3px solid #32ffb1;
		border-radius: 3px;
	}

	.service h2{
		text-align: center;
		padding: 0.5em 0 0.5em 0;
	}

	.service p{
		margin: 0 2em 0 2em;
		padding-bottom: 1em;
	}
}