@media screen and (max-width: 480px) {
    .logo{
	 display:none;
   	 }
	.navigation{
		display: flex;
		justify-content: center;
	}
	.portrait{
	 	
	}
	.container-contact{
		
	}
	.liam{
	height: 300px;
	}	
	.gustav{
	height: 300px;
	}
	.martin{
	height: 300px;
	}
}