*{
  margin: 0;
  padding: 0;
}

@import "mixins";

$headingFont: 'Oswald';

html{
  scroll-behavior: smooth;
}

.topNav{
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.landing{
  overflow: hidden;
  position: relative;
}

.about{
  margin-top: 1em;
}

.landing::after{
  @include skew;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sections{
   @include sections;
}

.logo{
  height: 10%;
  width: 10%;
}

hr{
  margin: 6em 20% 0 20%;
  background: #000000;
  height: 3px;
  border: 0;
  border-radius: 3px;
}

h1{
  font-family: $headingFont;
  text-align: center;
  padding: 3em 0 1em 0;
}

h2{
  padding-top:1em;
  font-family:$headingFont;
  text-align:center;
}

.bread{
  font-family: $headingFont;
  text-align: center;
  padding-top:0.5em;
  padding-bottom:1em;
  margin:0 auto;
  width:85%;
  font-size:1.5em;
  line-height:1.6em;
}

.compName{
  @include compName;
}

.logo{
  padding: 0.5em 0 0 0.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 2em 0 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  font-family: 'Lato';
  display: block;
  color: white;
  transition: all 0.4s ease;
  background-color: #333333;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #1F1F1F;
  color: #32ffb1;
}
.contact{
  height: auto;
}
.contact-information{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 2em 0 0 0;
}
.information{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 1em 0 0 0;
}
//offers
.offers {
  width:100%;
}

.service{
  background-color:#f2f2f2;
  box-shadow: 1px 1px 1px #888888;
  // border: 3px solid #333333;
  // border-radius: 3px;
  line-height: 1.6em;
  margin: 0 0.5em 1em 0.5em;
}

.service-bread{
  font-family: $headingFont;
  font-size: 1.5em;
  line-height: 1.6em;
}

// .service p{
//   margin: 1em 1em 1em 1em;
// }

.service h2{
  margin: 1em 0 0 0;
  text-align: center;
  font-size: 2em;
}

.work {
  width:100%;
}

//work
.workcontainer {
  display:flex;
  justify-content:center;
  flex-direction:row;
}

.company{
  width:30%;
  //height:380px;
  display:inline-block;
  background-color:#f2f2f2;
  // border: 3px solid #333333;
  // border-radius: 3px;
  //margin:10px;
  margin: 1em 0.3em 1em 0.3em;
  // box-shadow: 1px 1px 1px #888888;
}

.picwork {
  height:15em;
}

.snow {
  background-image: url("../img/pontus.jpg");
  background-repeat:no-repeat;
  background-size:427px 240px;
}
.doja {
  background-image: url("../img/PANGBRA.jpg");
  background-repeat:no-repeat;
  background-size:427px 240px;
}

.adid{
  background-image: url("../img/zxfluxlol2.jpg");
  background-repeat:no-repeat;
  background-size:600px 240px;
}

.mike:hover{
  transform: scale(1.2, 1.2);
}

.eytys:hover{
  transform:scale(1.2, 1.2);
}

.adidas:hover{
  transform:scale(1.2, 1.2);
}

.mike{
  background-image: url("../img/snow.png");
  background-repeat:no-repeat;
  background-size:300px 70px;
  transition: all 0.5s ease;
  width:300px;
  height:70px;
  margin:0 auto;
  margin-top:3rem;
  text-align:center;
}

.eytys{
  background-image: url("../img/eytys.png");
  background-repeat:no-repeat;
  background-size:120px 70px;
  transition: all 0.5s ease;
  width:120px;
  height:70px;
  margin:0 auto;
  margin-top:3.1rem;
  text-align:center;
}

.adidas{
  background-image: url("../img/adidas2.png");
  background-repeat:no-repeat;
  background-size:250px 100px;
  transition: all 0.5s ease;
  width:250px;
  height:100px;
  margin:0 auto;
  margin-top:1.5rem;
  text-align:center;
}

.triangle {
  position: absolute;
  top:80%;
  left: 50%;
  color: white;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  -webkit-animation:bounce 2s infinite;
   transform: rotateX(90deg);
}

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
  40%  { -webkit-transform: translateY(-20px); }
  80% { -webkit-transform: translateY(-10px); }
}
//contact
.container-contact{
   display: -webkit-flex;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 450px;
}
.info-container{
   display: -webkit-flex;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 200px;
}
.info-children{
text-align: center;
font-family: 'Lato', sans-serif;
width: 265px;
height: 390px;
margin: 2em;
}
.info-name{
  font-size: 22px;
  margin: 1em;
}

.liam{
  background-image: url("../img/liams.jpg");
  @include portraits;
}

.gustav{
  background-image: url("../img/gustav.jpg");
  background-size: cover;
  @include portraits;
}

.martin{
  background-image: url("../img/clavin.jpg");
  @include portraits;
}

#map{
  height: 400px;
  width: 100%;
  position: relative;
}

//footer
.footer{
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 250px;
  width:100%;
  background-color: #333333;
}

.footer ul{
  margin: 5em  0 0 5em;
}

.footer-info{
  display: flex;
  flex-direction: column;
}

.footer-text{
  font-family: 'Lato', sans-serif;
  line-height: 40px;
}

.footer-contact{
  font-family: 'Lato', sans-serif;
  font-size: 42px;
}

.foot-contact{
  display:flex;
  flex-direction: column;
}

.media-links{
  display: flex;
  margin-top: 5em;
}

.media-links img{
  width: 3em;
}
@import "mediaQueris.scss";