*{
	margin: 0px;
	padding: 0px;
}
@import "mixins";
@import "mediaQueris.scss";

$headingFont: 'Avenir';

.topNav{
	/*height: 10em;*/
}
.navigation{
	
}
.landing{
	background-image: url("../img/office2.jpg");
	background-size: cover;
	position: relative;
}
.landing::after{
    @include skew;
}
.sections{
	@include sections;
}
.logo{
	height: 10%;
	width: 10%;
}
 .mac{
	background-image: url("../img/mac.jpg");
    height: 10em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}

h1{
	font-family: $headingFont;
	text-align: center;
	padding: 3em 0 1em 0;
}
.bread{
	font-family: $headingFont;
	text-align: center;
}
.compName{
	@include compName;
}
.logo{
	padding: 0.5em 0 0 0.5em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
	font-family: 'Lato';
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}
li a:hover{
	color: #32ffb1;
}

.arrow{
	color: white;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

